.in-progress {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    min-width: 200px;
    box-sizing: border-box;
    margin-bottom: 40px;
    border: 1px solid grey;
    background-color: aliceblue;
    padding: 10px 0; 
}
.in-progress__header{
    display: flex;
    max-height: 30px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
    padding: 0 3%; 
}
.in-progress__title{
    font-size: 20px;
}
.in-progress__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px 3% 0; 
}

.in-progress__card{
   display: flex;
   margin-bottom: 2%;
}