.to-do{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    border: 1px solid grey;
    background-color: aliceblue;
    padding: 10px 0.8%; 
}
.to-do__header{
    display: flex;
    max-height: 30px;
    margin-bottom: 5px;
}
.badger{
    justify-content: center;
    align-items: center;
    height: 25px;
    min-width: 25px;
    margin-right: 10px;
}
.to-do__title{
    font-size: 20px;
}
.to-do__list{
    display: flex;
    flex-direction: column;
        list-style: none;
        padding: 0;   
}


