.done{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    border: 1px solid grey;
    background-color: aliceblue;
    padding: 10px 0.8%; 
}
.done__header{
    display: flex;
    max-height: 30px;
    margin-bottom: 5px;
}
.done__title{
    font-size: 20px;
}
.done__list{
    display: flex;
    flex-direction: column;
        list-style: none;
        padding: 0;   
}
.done__card{
   display: flex;
   margin-bottom: 2%;
   height: 80px;
   overflow: hidden;
}